<div id="modal-container" [class]="styles">
    <div class="modal">

        <div class="modal-content">
            <div class="modal-header primary-color">
                <span class="close" (click)="closeModal($event)">&times;</span>
                <h3>
                    <ng-content select="[modal-header]"></ng-content>
                </h3>
            </div>
            <div class="modal-body">
                <ng-content select="[modal-body]"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select="[modal-footer]"></ng-content>
            </div>
        </div>
    </div>
</div>
<div id="overlay" (click)="closeModal($event)"></div>