<div class="side-nav-container" [class.side-nav-is-mobile]="mobileQuery.matches">
        <mat-toolbar color="primary" class="side-nav-toolbar">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        </mat-toolbar>

        <mat-sidenav-container class="side-nav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                fixedTopGap="56">
                <mat-nav-list class="my-nav-list">
                    <a mat-list-item routerLink="/customers">Customers</a>
                    <a mat-list-item routerLink="/accounts">Accounts</a>
                </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    <app-footer></app-footer>
</div>